/* LandingPage.css */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%; /* Full height */
    overflow: hidden; /* No scroll */
}

.landing-page {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /* Increased z-index to ensure visibility */
}

.header-content {
    display: flex;
    align-items: center;
}

.lyfe-logo {
    display: flex;
    align-items: center;
    scale: 0.5;
}

.header-heading {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
}

/* Main Content */
.main-content {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 100px;
    flex-grow: 1; /* Allows content to expand */
}

.social-icon {
    height: 25px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}


.main-heading {
    font-size: 3em;
    font-family: 'Georgia', serif;
    margin: 0;
}

.subheading {
    font-size: 1em;
    color: #aaa;
    margin: 10px 0 30px 0;
}

.cta-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 90px;
    border-radius: 30px;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
}

.cta-button:hover {
    background-color: #fff;
    color: #000;
}

/* Phone Mockup */
.phone-mockup {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%; /* Center */
}

.iphone-mockup {
    width: 100%;
    position: absolute;
}

/* Background Images */
.background-images .bg-image {
    position: absolute;
    opacity: 0.7;
}

.image1 {
    top: 15%;
    left: 3%;
    height: 30%;
    border-radius: 5%;
}

.image4 {
    top: 5%;
    right: 0%;
    height: 29%;
    border-radius: 5%;
}

.image3 {
    bottom: 5%;
    left: 12%;
    height: 40%;
    border-radius: 5%;
}

.image2 {
    bottom: 30%;
    right: 6%;
    height: 30%;
    border-radius: 5%;
}

.image5 {
    bottom: -5%;
    right: 28%;
    height: 30%;
    border-radius: 5%;
}

.lyfe-logo {
    height: 100px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 1%;
    right: 1%;
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 2;
}

.footer p {
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }

    .logo {
        height: 30px;
        filter: invert(100%);
    }

    .main-content {
        top: 10%;
        text-align: center;
        margin-top: 20px;
    }

    .social-icon {
        height: 20px;
        
    }

    .social-icons {
        display: flex;
        justify-content: center;  
        margin-top: 20px;
        gap: 20px;
        
        
    }

    .main-heading {
        font-size: 2em;
        margin: 0;
    }

    .subheading {
        font-size: 0.9em;
        color: #aaa;
        margin: 10px 0 20px 0;
    }

    .cta-button {
        background-color: #fff;
        color: #000000;
        border: none;
        padding: 15px 40px;
        border-radius: 25px;
        font-size: 1.2em;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 80px;
    }
   
    .phone-mockup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        z-index: 1;
    }

    .iphone-mockup {
        width: 100%;
    }

    .background-images .bg-image {
        display: none; /* Hides background images for cleaner mobile view */
    }

    .footer {
        width: 100%;
        text-align: center;
        font-size: 0.7em;
        position: absolute;
        bottom: 10px;
        left: 0%;
    }

    .footer p {
        margin: 3px 0;
    }
}

/* Keyframe for fade-in and move up-to-down */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the desired elements */
.header,
.social-icon,
.main-heading,
.subheading,
.cta-button,
.iphone-mockup,
.background-images .bg-image {
    opacity: 0; /* Initial state */
    animation: fadeInFromTop 1s ease-in-out forwards; /* Duration and ease */
}

/* Add delay to stagger the animations */
.header {
    animation-delay: 0.1s;
}
.social-icon {
    animation-delay: 0.2s;
}
.main-heading {
    animation-delay: 0.3s;
}
.subheading {
    animation-delay: 0.4s;
}
.cta-button {
    animation-delay: 0.5s;
}
.phone-mockup {
    animation-delay: 0.6s;
}
.background-images .bg-image {
    animation-delay: 0.7s;
}
